# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
*.Rproj

assets/statComp2014_ReichSyllabus.synctex.gz
assets/statComp2014_ReichSyllabus.log

index.html

*.log
*.synctex.gz
*.toc
*.vrb
*.nav
*.snm
*concordance.tex
*.DS_Store